<h1>Edit your post</h1>

<%= form_for @forum_post, url: update_forum_posts_path(post_id: @forum_post.id), method: 'patch' do |f| %>

    <div class="form-group">
      <%= f.text_area :body, class: "form-control" %>
    </div>

    <%= f.submit "Submit", class: "btn btn-warning" %>

<% end %>