

<div class="llamame">
<div class="contact">
<div class="row">
</div>
  <div class="fuego">
  <div class="col-sm-4 col-lg-4">
    <div class="panel" id="trabajo">
      <div class="panel-heading">
        <h3><i class="icon-pushpin main-color"></i> Our office</h3>
      </div>


      <div class="panel-body">
        <address>
          <strong>VERSO, Inc.</strong><br>
          6452 Marina Del, Suite 600<br>
          Rancho Los Verde, CA 94107<br>
          <i class="icon-phone-sign"></i> + 1(310) 822-4325
        </address>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        <h3><i class="icon-time main-color"></i> Business hours</h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
          <tr>

            <th>Day</th>
            <th>Time</th>
          </tr>
          </thead>
          <tbody>
          <tr class="success">
            <td>Monday</td>
            <td>9:00 to 5:00</td>
          </tr>
          <tr class="success">
            <td>Tuesday</td>
            <td>9:00 to 5:00</td>
          </tr>
          <tr class="success">

            <td>Wednesday</td>
            <td>9:00 to 5:00</td>
          </tr>
          <tr class="success">

            <td>Thursday</td>
            <td>9:00 to 5:00</td>
          </tr>
          <tr class="success">

            <td>Friday</td>
            <td>9:00 to 5:00</td>
          </tr>
          <tr class="warning">

            <td>Saturday</td>
            <td>9:00 to 3:00</td>
          </tr>
          <tr class="danger">

            <td>Sunday</td>
            <td>day off</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>
</div>