<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">About Us</h1>

    <p class="lead blog-description">Daily Fantasy IQ is a community of DFS players, analysts, and media personalities <br> to influencing the Daily Fantasy Sports Industry. As a team,
      we are committed to <br> insightful Daily Fantasy Sports content and world class value to the community we serve.</p>

  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">
      <div class="why-us">
        <hr>
      <div class="spons"><p class="draftkings"><%= image_tag ("1stplace.png")  %></p></div>

        <h3>MY STORY</h3>
        <p>I used to have a 9 to 5 job, which I really did enjoy. I was working as a physical therapist ass. in a nursing home and loving the line of work I was in.
          I had no plans to leave, but unfortunately there are some things you cannot control (like the economy) and so, in 2014 I was laid off.</p>

        <blockquote>
          <div class="spons"><p class="draftkings"><%= image_tag ("kobe.png")  %></p></div>
        </blockquote>

        <p>Getting laid off is a weird feeling. One day you think everything is fine and for whatever reason the next day you don’t
          really know what you’re supposed to do anymore. Instead of feeling bad about it, I immediately decided to work for myself by playing DFS.

        </p>
        <p>It turns out that getting laid off was the best thing that ever happened to me. Without my 9 to 5 job holding me back, I was able to earn more money and work less (with more flexible)
          hours – which in the end allows me to be home and do thing I always wanted to do.</p>

        <br>

          <h3>SO WHY DAILY FANTAST IQ ?</h3>

            <p>With this site, I want to be as transparent as possible with everything we do online.
              our businesses, our strategies and our income – it’s all out there for you to see.
              We not trying to show off our success – that’s definitely not the purpose.
              <strong>If you’re already well, I hope that our experiences – both our wins and our failures – can help you reach your goals.
                <br>
              If you’re not doing Well but thinking about it, you can see what it’s like,
              see what’s involved and make decisions on your own without having to pay someone and be subjected to the possibility of false claims and wasted money.</strong>
                I hope you stick around and join us</p>


            <div class="spons"><p class="draftkings"><%= image_tag ("champ.png")  %></p></div>

        </div>
      </div><!-- /.blog-post -->



    </div><!-- /.blog-main -->
  </div><!-- /.row -->

</div><!-- /.container -->


