@import "bootstrap";


//navbar
$navbar-color:#8f0a0b;


//sidebar colors and center-bar
$primary: #303030 ;
$metal-color: $primary;



//navbar
.navbar{
  margin-bottom: 0;
  background-color: $navbar-color;
  color: white;
}

.comingsoon{
  padding-top: 20px;
}
//control the word inside each bar
.titulo{
  padding-bottom: 15px;
}

//background of the content
.pare{
  background-color: white;
  box-shadow: 0 0 5px 0 #2E2F30;
  overflow: hidden;
  height: 100%;
  padding-top: 15px;
}


.metal{

  background-color: $metal-color;
  padding-top: 20px;
  box-shadow: 5px 1px 5px 1px #2E2F30;
  color:#F8F8F8;
  text-align: center;
  font-family: 'BebasNeueRegular';
  font-size: 22px;
  text-shadow: 1px 1px 1px #FFF;
  line-height: 24px;
}

.form-group{
  width: 300px;
  padding: 20px;
  background-color: lightgray;
  border-radius: 10px;
  margin-bottom: 15px;
}



.claro{
  background-color: $metal-color;
  padding-top: 20px;
  color: #F8F8F8 ;
  box-shadow: 5px 1px 5px 1px #2E2F30;
  text-align: center;
  font-family: 'BebasNeueRegular';
  font-size: 22px;
  text-shadow: 1px 1px 1px #FFF;
  line-height: 24px;
}

.top-side{
  background-color: $metal-color;
  padding-top: 15px;
  box-shadow: 5px 1px 5px 1px #2E2F30;
  color: #F8F8F8 ;
  text-align: center;
  font-family: 'BebasNeueRegular';
  font-size: 22px;
  text-shadow: 1px 1px 1px #FFF;
  line-height: 24px;
}

.patrocinador{
  background-color: $metal-color;
  padding-top: 15px;
  color: #F8F8F8 ;
  box-shadow: 5px 1px 5px 1px #2E2F30;
  text-align: center;
  font-family: 'BebasNeueRegular';
  font-size: 22px;
  text-shadow: 1px 1px 1px #FFF;
  line-height: 24px;
}

.termine{
  width: 300px;
  margin:0 auto;
}

.fantasy{
  padding: 15px;
  text-align: center;
}

.spacio{
  text-align: center;
  padding-bottom: 15px;
}

.spons{
  padding: 15px;
  text-align: center;
}

.centro{
 text-align: center;
}


.about_us{
  padding: 15px;

}


.back-splash{
    background-color: #191919;
}

.atras{
    background-color: #a7a7a7;
}

.why-us{
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  line-height: 1.625;
}

.forum_post {
  border-top: 1px solid #ccc;
  padding: 8px 0px;

  &:target {
    background-color: rgb(248, 238, 199);
    padding: 8px;
  }
}

.contact{
  text-align: center;
}

.btn {
  color: #fff;
  background-color: #5cb85c

}