@import "bootstrap";


.centro{
 text-align: center;
}

.back-splash{
    background-color: #B00100;
}

.atras{
    background-color: #DADADA;
}

.azul{
    background-color: white;
    box-shadow: 0 0 5px 0 #2E2F30;
    overflow: hidden;
    height: 100%;
}

.navbar{
    margin-bottom: 0;
}

.forum_post {
  border-top: 1px solid #ccc;
  padding: 8px 0px;

  &:target {
    background-color: rgb(248, 238, 199);
    padding: 8px;
  }
}